<footer>
        <div class="footerContainer">
          <div class="socialIcons">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          </div>
          <div class="footerNav">
            <ul>
              Company
              <li><a href="https://www.spotify.com/hk-zh/about-us/contact/">About</a></li>
              <li><a href="https://www.lifeatspotify.com/">Jobs</a></li>
              <li><a href="https://newsroom.spotify.com/">For the Records</a></li>
            </ul>
            <ul>Communites
              <li><a href="https://artists.spotify.com/home">For Artists</a></li>
              <li><a href="https://developer.spotify.com/">Developers</a></li>
              <li><a href="https://ads.spotify.com/en-US/">Advertising</a></li>
              <li><a href="https://investors.spotify.com/home/default.aspx">Investors</a></li>
              <li><a href="https://spotifyforvendors.com/">Vendors</a></li>
            </ul>
            <ul>Useful links
              <li><a href="https://support.spotify.com/hk-zh/">Supports</a></li>
              <li><a href="https://support.spotify.com/hk-zh/">Free Mobile App</a></li>
            </ul>
            
          </div>
          <hr>
          <div class="footerBottom">
            <p>Copyright &copy 2024, Designed by <span class="designer"> đồ án nhóm 13 </span></p>
          </div>
        </div>
      </footer>