<header>
        <div class="top-bar">
            <div class="top-bar-list top-bar-search">
                <input type="text" placeholder="Search podcasts...">
                <button>Search</button>
            </div>
            <div class="top-bar-list top-bar-login-signup">
              <a href="Login"><button type="button" style="margin-right: 16px; padding: 7px 14px;">Log in</button></a>
            <a href="Signup"><button type="button">Sign up</button></a>
            </div>
        </div>
</header>