<!--LOGIN-->
        <div class="wrapper">
            <h2 class="welcomeback" style="color:aliceblue;">welcome back</h2>
            <h1 class="healsoullogin">LOG IN TO HEALSOUL</h1>
            <form>
                <label for="">EMAIL</label>
                <input type="text" placeholder="Email address">
    
                <label for="">PASSWORD</label>
                <input type="password" placeholder="password">
            </form>
            
            
            <button type="submit" id="login_button">Log in</button>
            <br>
            <p id="or" style="color: aliceblue; font-size: 14px;">or</p>
    
            <button type="submit" id="apple_button">
                <a href="https://appleid.apple.com/auth/authorize?response_type=code&client_id=fm.podbay.web-auth&redirect_uri=https%3A%2F%2Fpodbay.fm%2Fauth%2Fapple%2Fcallback&scope=openid+email&response_mode=form_post" target="_blank" style="color: aliceblue;"><i class="fa-brands fa-apple"></i> Continue with apple</a>
            
            </button>
            <hr>
            
            <p id="signup" style="color: aliceblue;">Don't have an account yet?<a href="Signup" style="color: aqua;"> <u style="text-decoration: underline;">Sign up for a free account</u></a></p>
                
        </div>